.prev,
.prev + p {
  position: absolute;
  bottom: 120px;
  font-size: 50px;
}
.prev {
  left: 3%;
}
.prev + p {
  left: 95%;
}
.indproduct > div:nth-child(1) {
  width: 30%;
  height: 300px;
}
.indproduct > div:nth-child(2) {
  width: 100%;
  height: 100px;
}
.indproduct img {
  width: 170px;
}
.indproduct {
  cursor: pointer;
}
.products {
  color: rgb(139, 139, 139);
  margin: 50px 10%;
  display: grid;
  grid-template: "a b c d";
  grid-gap: 40px;
}
.checkoutbutton {
  background: none;
  border: none;
  width: 100%;
  background: rgb(76, 76, 76);
  padding: 10px 0;
  color: white;
  cursor: pointer;
}
